@font-face {
  font-weight: 400;
  font-family: 'customFont';
  src:  url('/fonts/Ownglyph.ttf') format('woff'), url('/fonts/Ownglyph.ttf') format('truetype'), url('https://lchoish.github.io/portfolio/fonts/Ownglyph.ttf') format('woff'), url('https://lchoish.github.io/portfolio/fonts/Ownglyph.ttf') format('truetype');
}