@import "../../styles/utils/mixin";

.list_experience {
  margin: 30px auto 0;
  width: 940px;
  gap: 20px;

  .item_experience {
    position: relative;
    padding: 20px;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 70%);

    &.is_open {
      .info_wrap {
        display: block;
      }
    }

    & + .item_experience {
      margin-top: 50px;
    }
  }

  .button_open {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .ico_open {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto 40px auto 0;
    }
  }

  .info_wrap {
    margin-top: 20px;
    display: none;

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .image_wrap {
    float: left;
    width: 250px;
    margin-right: 20px;

    .experience_image {
      width: 100%;
      height: auto;
    }
  }

  .experience_title {
    font-size: 30px;
  }

  .experience_date {
    margin-top: 4px;
    font-size: 20px;
  }

  .experience_info {
    overflow: hidden;
    font-size: 24px;
    white-space: pre-line;
    word-break: keep-all;
  }
}

@include commonMediaQuery('mobile') {
  .list_experience {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    .item_experience {
      padding-right: 40px;
    }

    .experience_title {
      font-size: 20px;
    }

    .button_open {
      .ico_open {
        margin-right: 20px;
      }
    }

    .image_wrap {
      width: 100%;
      float: none;
      margin-bottom: 20px;
    }
  }
}