@import '../styles/utils/mixin';

.header {
  position: fixed;
  top: 0;
  height: 80px;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 1.0s;

  &.is_hide {
    transform: translateY(-100%);
  }

  .header_wrap {
    height: 100%;
    backdrop-filter: blur(30px);
  }

  .gnb_list {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;

    .gnb_item {
    }

    .gnb {
      height: 100%;
      line-height: 80px;
      display: block;
      position: relative;
      padding: 0 10px;
      font-size: 30px;
      color: #555;
      font-weight: bold;
      transition: color 0.3s;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: currentColor;
        transition: width 0.3s;
      }

      &:hover {
        color: #000;

        &::after {
          width: 100%;
        }
      }
    }
  }


}
